<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Summernote Code Wrapper
		
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/androidstudio.css")
		link(rel="stylesheet", href="css/summernote-bs4.css")
	body
		.container
			.row
				.editor.col-md-6
				.col-md-6.markdown-body#result



	script(src="js/jquery.min.js")
	script(src="js/popper.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/highlight.pack.js")
	script(src="js/summernote-bs4.min.js")
	script(src="js/summernote-codewrapper.js")
	script(src="js/script.js")


